<%= turbo_frame_tag dom_id(@car) do %>
  <%= form_with model: @car, url: wizard_path, data: { turbo_frame: "options", turbo_action: "advance"  } do |f| %>
    <% if f.object.errors.any? %>
      <div class="error_messages">
        <% f.object.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <fieldset>
      <legend>Options</legend>

      <div>
        <%= f.label :options %>
        <%= f.text_field :options %>
      </div>

      <div>
        <%= f.submit 'Next Step' %>
      </div>
    </fieldset>
  <% end %>
<% end %>
