<div class="card-new-car">
  <%= turbo_frame_tag dom_id(@car) do %>
    <%= form_with model: @car, url: wizard_path, data: { turbo_frame: "registration", turbo_action: "advance"  }  do |f| %>
      <% if f.object.errors.any? %>
        <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>

      <div class="card-sections">
        <div>
          <p>Qu'elle est l'immatriculation?</p>
        </div>
        <div>
          <%= f.label :plate_number %>
          <%= f.text_field :plate_number %>
        </div>

        <div>
          <%= f.label :year %>
          <%= f.number_field :year %>
        </div>

        <div>
          <%= f.label :car_country %>
          <%= f.text_field :car_country %>
        </div>

        <div>
          <%= f.submit 'Next Step' %>
          <%= link_to "back", wizard_path('mileage') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
