<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <div class="nav-title">
        <h1 class= "R-title">R</h1><h1 class= "ents-title">ents</h1>
      </div>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Véhicules", "/cars", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Louer mon véhicule", "/cars/new", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nos agences", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nos services", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Offres pros", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Aide", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/inesnaamane", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mes réservations", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
