<% content_for(:navbar_class, "navbar-home") %>
<% content_for(:footer_class, "footer-home") %>
<div class="homepage">
  <div class="hero">
    <div class="banner">
      <div class="main-hero">
        <div class="container-banner">
          <h1>Vous cherchez un véhicule ?</h1>
          <h5>Vous êtes au bon endroit</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="homepage-body">
    <div class="body-title">
      <h1>Notre gamme de véhicules</h1>
      <p>Choisissez votre véhicule parmi nos nouveaux modèles</p>
    </div>
    <div class="container-cars">
      <div class="card-rents">
        <div class="cars-rents">
          <h3>Nos utilitaires</h3>
          <img src="https://images.ctfassets.net/wmdwnw6l5vg5/7MXwlGGHdrV8aNmF2XQLED/74209f2a82b86d8befa381b58fd160e0/van.png" alt="">
          <p>Minivan, Pickup, Fourgon, Wagon...</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio saepe veniam assumenda ipsam architecto consequatur autem a aliquid minima beatae maxime odit animi ea in, incidunt non adipisci laboriosam inventore!</p>
          <%= link_to "Voir plus", cars_path(@cars), class:"home-link"  %>
        </div>
      </div>
      <div class="card-rents">
        <div class="cars-rents">
          <h3>Nos berlines</h3>
          <img src="https://images.ctfassets.net/wmdwnw6l5vg5/7eSknBlxG6vxlTW1aPj3Ao/a3d5c9afb70ced264344c3e5be27b508/Hyundai_Kona_trasparent_2__1_-min.png" alt="">
          <p>Minivan, Pickup, Fourgon, Wagon...</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio saepe veniam assumenda ipsam architecto consequatur autem a aliquid minima beatae maxime odit animi ea in, incidunt non adipisci laboriosam inventore!</p>
          <%= link_to "Voir plus", cars_path(@cars), class:"home-link"  %>
        </div>
      </div>
      <div class="card-rents">
        <div class="cars-rents">
          <h3>Nos prestiges</h3>
          <img src="https://images.ctfassets.net/wmdwnw6l5vg5/FKkhunbxg0hIIHkl7tOkM/1f97e75bd48ac70cd3020b375c53b21b/luxury.png" alt="">
          <p>Minivan, Pickup, Fourgon, Wagon...</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio saepe veniam assumenda ipsam architecto consequatur autem a aliquid minima beatae maxime odit animi ea in, incidunt non adipisci laboriosam inventore!</p>
          <%= link_to "Voir plus", cars_path(@cars), class:"home-link" %>
        </div>
      </div>
      <div class="card-rents">
        <div class="cars-rents">
          <h3>Nos économiques</h3>
          <img src="https://images.ctfassets.net/wmdwnw6l5vg5/71jz89dFBIdA9KHrLh8T0h/50911ced70154f2b311a186e0f48550f/economy.png" alt="">
          <p>SUV, Berline, Coupé, Cabriolet...</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat optio animi aut, sunt nam dolore modi! Laboriosam, maxime praesentium aspernatur quibusdam repellat deserunt.</p>
          <%= link_to "Voir plus", cars_path(@cars), class:"home-link" %>
        </div>
      </div>
    </div>
    <div class="container-rents">
      <div class="infos-rents">
        <h1>Nos agences Rents partout en France</h1>
        <p>Depuis 1996, Rents a su développer dans toute la France un réseau d’experts qualifiés dans le but de répondre au maximum à la demande des clients. Rents, c’est aujourd’hui plus de <strong>480</strong> points de location, <strong>200</strong> agences franchisées, <strong>100 </strong>succursales et <strong>180</strong> points relais réparties partout en France métropolitain et dans les DOM TOM.</p>
      </div>
      <div class="infos-rents">
        <div class="list-citys">
          <div class="citys">
            <ul>
              <h5>France</h5>
              <li>Marseille</li>
              <li>Paris</li>
              <li>Nice</li>
              <li>Lyon</li>
              <li>Amiens</li>
              <li>Aix-en-Provence</li>
            </ul>
          </div>
          <div class="citys">
            <ul>
              <h5>DOM/TOM</h5>
              <li>St Pierre et Miquelon</li>
              <li>St Barthélémy</li>
              <li>Guadeloupe</li>
              <li>Martinique</li>
              <li>Polynésie Française</li>
              <li>Nouvelle Calédonie</li>
            </ul>
          </div>
        </div>
        <%= link_to "/cars", class: "home-link" do %>
          <div class="link-citys">
            <h5>Toutes les villes(488)</h5>
          </div>
        <% end %>
      </div>
      <div class="infos-rents">
        <img src="https://www.rentacar.fr/_next/image?url=https%3A%2F%2Frac-production-strapi-uploads.s3.eu-west-3.amazonaws.com%2Fimg_2x_634e25fc56.webp&w=640&q=45"  alt="">
      </div>
    </div>
    <div class="body-title">
      <h1>News</h1>
      <p>Découvrez les dernières actualités ici !</p>
    </div>
    <div class="container-actus">
      <div class="card-actu">
        <img src="https://images.pexels.com/photos/6954256/pexels-photo-6954256.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h3>Location de véhicules en self-service</h3>
        <%= link_to "Voir plus", cars_path(@cars), class:"home-link" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card-actu">
        <img src="https://images.pexels.com/photos/8478218/pexels-photo-8478218.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h3>Location de véhicules en self-service</h3>
        <%= link_to "Voir plus", cars_path(@cars), class:"home-link" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card-actu">
        <img src="https://images.pexels.com/photos/7152585/pexels-photo-7152585.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h3>Location de véhicules en self-service</h3>
        <%= link_to "Voir plus", cars_path(@cars), class:"home-link" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card-actu">
        <img src="https://images.pexels.com/photos/5356272/pexels-photo-5356272.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h3>Location de véhicules en self-service</h3>
        <%= link_to "Voir plus", cars_path(@cars), class:"home-link" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
