<div class="new-form">
  <div class="progress-bar">
    <div class="progress-bar-value">65%</div>
    <div class="progress-bar-fill"></div>
  </div>

  <div>
    <h3>Inscrire ma voiture</h3>
  </div>
   <%= link_to 'Inscrire ma voiture', car_steps_path, method: :post %>

  <%# <%= simple_form_for @car do |f| %>
    <%# Step 1  model%>
    <%# <div> %>
      <%# <h6>Type de véhicule</h6> %>
      <%# <%= f.input :type_of_vehicle %>
      <%# <h6>Quel est la marque ?</h6> %>
      <%# <%= f.input :brand, :required => false %>
      <%# <h6>Quel est le modèle?</h6> %>
      <%# <%= f.input :model, :required => false %>
      <%# <%= f.button :submit, "Commencez" %>
    <%# </div> %>
  <%# <% end %> 

   <%#  <%= simple_form_for @car do |f| %>

    <%# Step 2 mileage%>
     <%#  <div>
      <h6>Kilométrage</h6>
      <%= f.input :mileage, as: :integer, :required => false %>
     <%#  </div>

    <%# Step 3 registration%>
      <%# <div>
      <h6>Plaque d'immatriculation</h6>
      <%= f.input  :plate_number, :required => false %>
    <%#     <h6>Pays d'immatriculation</h6>
      <%= f.input  :car_country,  as: :string %>
   <%#      <h6>Année d'immatriculation</h6>
      <%= f.input  :year, as: :integer, :required => false %>
    <%#   </div>

    <%# Step 4 energy_and_transmission%>
   <%#    <div>
      <h6>Carburant</h6>
      <%= f.input :fuel, :required => false %>
    <%#      <h6>Boite de vitesse</h6>
      <%= f.input :gearbox %>
   <%#    </div>

    <%# Step 5 doors_and_seats %>
    <%#   <div>
      <h6>Nombres de portes</h6>
      <%= f.input :doors, as: :integer %>
    <%#      <h6>Nombres de sièges</h6>
      <%= f.input :seats, as: :integer %>
   <%#    </div>

    <%# Step 6 %>
    <%#   <div>
      <h6>Options</h6>
      <%= f.input :options %>
   <%#    </div>

    <%# Step 7 %>
      <%# <div>
   <%#      <h6>Ville</h6>
      <%= f.input :city, :required => false %>
    <%#     <h6>Prix</h6>
      <%= f.input :price_per_day, as: :integer %>
    <%#   </div>

    <%= f.button :submit, "Soumettre" %>
   <%#  <% end %>
</div>
